/*colors 
color :  #790c5a morado
color : #cc0e74 rosado
color: #e6739f rosa pastel
color: #f1d4d4 rosablanco
*/
/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d3d3d;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
   
}
a {
    text-decoration: none;
    display: inline;
    color:#f1d4d4;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #8D07F6;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span {
    color: #A6ABAB;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90PX;
    /* background-color: #6639a6; */
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
nav .nav-profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .nav-profile-link a{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px ;
    color: white;
    border-bottom: 1px solid white;
}
body .main-fondo{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/bigstock-Real-Python-Code-Developing-Sc-217216555-630x421.jpg);
}
.main-index {
    display: grid;
    place-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Long Cang', cursive;
    color: hsl(218, 84%, 90%);
    line-height: 1.2rem;
}
main .card {
    margin-top: 200px;
    padding: 2rem;
    width: 500px;
    height: auto;
    border: 3px solid;
    border-image: linear-gradient(
      135deg,
      rgba(141, 7, 246),
      hsl(222, 99%, 100%),
      rgba(141, 7, 246)
    ) 1;
    display: grid;
    justify-content: center;
    align-items: center;
  }
main .card p{
    border-right: solid 4px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 20px;
  color: white;
}
.blogs-main {
    display: grid;
}
.blogs-news-container {
    background-color: #0029FA;
    padding: 0 50px 40px;
    width: auto;
    margin-top: 10px;
}
.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news-img-container{
    grid-column: 1;
}
.blogs-news-img-container img{
    width: 85%;
    /* height: 300px; */

}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container p{
    margin-bottom: 35px;
}
.blogs-post-container{
    padding: 0 50px 40px;
}
.blogs-post-container h3{
    border-bottom: 1px solid #0029FA;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button{
    border: 3px solid;
    border-image: linear-gradient(
      135deg,
      rgba(141, 7, 246),
      hsl(222, 99%, 100%),
      rgba(141, 7, 246)
    ) 1;
    font-size: 12px;
    padding: 10px 15px;
}
.blogs-button:hover {
	border: 1px solid white;
	color: white;
	background-color: #8D07F6;
}
.blogs-post-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}
.blogs-post-container .post-container p{
    margin-bottom: 35px;
}
.blogs-post-container .post-container img{
    width: 100%;
    height: 200px;
}
footer{
    width: 100%;
    height: 80px;
    background-color: black;
    border-top: 35px solid #8D07F6;
    text-align: center;
}
footer p {
    color: white;
    margin-top: 30px;
}

/* Animation */
.card p {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
  }
main .card a {
    
    text-align: center;
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    font-family: 'Source Code Pro', monospace;  
    padding: 0.5rem 1rem;
    border: solid 1px  rgba(141, 7, 246);
    color: hsl(218, 84%, 90%);
    text-decoration: none;
    }
